/*
*   Styles for the left-hand vertical navigation menus.
*/

aside.menu {

    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    background-color: $light-grey;

    a:not(.is-active) {
        color: $light-black;
    }

    a.is-active {
        color: $white;
        margin-left: -1.5em;
        margin-right: -1.5em;
        padding-left: 2.25em;
        padding-right: 2.25em;
    }

    a.parent {

        color: $red;
        position: relative;

        &:hover {
            cursor: default;
            background-color: transparent;
            opacity: 1;
        }

    }

    a.level-1 span {
        padding-left: 1em;
    }

    a.level-2 span {
        padding-left: 2em;
    }

    a.level-3 span {
        padding-left: 3em;
    }

    a.level-4 span {
        padding-left: 4em;
    }

    a.level-5 span {
        padding-left: 5em;
    }

    ul {
        margin: 0;
        padding: 0;
        border-left: 0;
        transition: height .25s;
    }

    .fa-caret-left,
    .fa-caret-down {
        position: absolute;
        top: .7em;
        right: .75em;
    }

    li .fa-caret-left  {
        display: none;
    }

    li.closed:not(.open) {

        i.fa-caret-left {
            display: block;
        }

        i.fa-caret-down {
            display: none;
        }

        ul {
            height: 0;
            overflow: hidden;
        }

    }

}
