/*
*   Site-wide styles
*/

body {
    font-family: 'Muli', sans-serif;
}

a {
    transition: opacity .25s;
}

a:hover {
    opacity: .85;
}

[v-cloak] {
    visibility: hidden;
}

main.section {
    padding-top: 1em;
}

article.content {
    background-color: $light-grey;
    margin-top: .75rem;
    padding: 2em;
}
