/*
*   Site-wide styles
*/

body {
    font-family: 'Muli', sans-serif;
}

a {
    transition: opacity .25s;
}

a:hover {
    opacity: .85;
}

[v-cloak] {
    visibility: hidden;
}

main.section {
    padding-top: 1em;
}

aside.menu {

    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    background-color: $light-grey;

    a:not(.is-active) {
        color: $light-black;
    }

    a.is-active {
        color: $white;
        margin-left: -1.5em;
        margin-right: -1.5em;
        padding-left: 2.25em;
        padding-right: 2.25em;
    }

}

article.content {
    background-color: $light-grey;
    margin-top: .75rem;
    padding: 2em;
}
