/*
*   Header styles
*/

header.section {

    padding-bottom: 0;

    .container {

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        a.logo {

            flex-basis: 50%;

            img {
                height: 4em;
            }

        }

        nav {
            text-transform: lowercase;
        }

        .primary-menu {

            flex-basis: 50%;

            nav a.nav-item {
            
                font-size: 1.15rem;
                margin-left: -0.75rem;
                color: $red;

                &.is-active {
                    color: $black;
                }

                &:hover {
                    color: $light-black;
                }

            }

        }

        .secondary-menu {
            margin-left: -.75rem;
            margin-right: -.75rem;
            align-self: flex-end;
        }

        .search-an-address {
            
            align-self: flex-start;
            
            input {
                font-weight: bold;
            }

        }

    }

}
