/*
*   Header styles
*/

header {

    img.logo {
        height: 4em;
    }

    .search-an-address input {
        margin-right: 1em;
        font-weight: bold;
    }

    nav {

        text-transform: lowercase;

        &.primary a.nav-item {
            
            font-size: 1.15rem;
            margin-left: -0.75rem;
            color: $red;

            &.is-active {
                color: $black;
            }

            &:hover {
                color: $light-black;
            }

        }

    }

}
