/*
*   Homepage styles
*/

main .homepage {

    .homepage-tile {

        display: block;
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        margin: 0 auto;
        text-align: center;

        &.red {
            background-color: $red;
            color: $white;
        }

        &.grey {
            background-color: $light-grey;
            color: $black;
        }

        &.search-an-address {

            .centered {

                position: absolute;
                width: 100%;
                top: 50%;
                transform: translateY(-50%);

                .icon {

                    height: auto;
                    width: auto;
                    margin-bottom: 1em;

                    i {
                        font-size: 5em;
                        color: $light-black;
                    }

                }

                input {
                    width: 90%;
                    font-size: 1.25rem;
                }

            }

        }

        img {
            position: absolute;
            height: 50%;
            max-width: none;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .text {
            
            position: absolute;
            width: 100%;
            bottom: 15%;
            transform: translateY(50%);
            padding: 0 1em;
            font-weight: bold;
            text-transform: lowercase;
            font-size: 1.25em;
            line-height: 1.25;

            @include tablet {
                font-size: 1em;
            }

        }

    }

    #homepage-demo {

        position: relative;

        .images {

            width: 100%;
            height: 100%;

            .image {
                
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                transition: left .5s, right .5s, opacity .5s;

                &.active {
                    opacity: 1;
                }

            }

        }

        .slideshow-control {

            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 5em;
            height: 2.5em;
            border-radius: 8px;
            box-shadow: 0 0 6px 3px $medium-grey;
            text-align: center;
            background-color: $white;

            a {
                display: block;
                position: absolute;
                width: 50%;
                height: 100%;
                color: $grey;

                &.previous {
                    left: 0;
                    border-right: 1px solid $light-grey;
                }

                &.next {
                    right: 0;
                    border-left: 1px solid $light-grey;
                }

                i {
                    position: relative;
                    top: .65em;
                }

            }

        }

    }

}
