/*
*   Interactive Maps styles
*/

.collapsible-container {
    
    background-color: $light-grey;
    padding: 0 .5em;

    h2 {

        position: relative;
        width: 100%;
        margin-bottom: .2rem;
        padding: .5rem 3.5rem .5rem .5rem;
        font-size: 1.1em;
        text-transform: lowercase;
        cursor: pointer;

        &::after {
            content: '(–)';
            display: block;
            position: absolute;
            top: 50%;
            right: .5rem;
            transform: translateY(-50%);

        }

        &.collapsed::after {
            content: '(+)';
        }

    }

    main {
        
        padding: .5rem .5rem;
        border-top: 1px solid $medium-light-grey;
    
        .map-list-item {

            position: relative;
            font-size: .9em;
            font-weight: bold;
            margin: .5em 0;
        
            .map-title {
                padding-right: 5em;
            }

            .controls {
                
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);

                > * {
                    display: inline-block;
                    text-align: right;
                    margin-left: .25em;
                    vertical-align: middle;
                }
            
                .narrative-button {
                    
                    font-style: italic;
                    font-family: serif;
                    font-size: 16px;
                    border: 1px solid $red;
                    border-radius: 15px;
                    padding: 4px 5px;
                    width: 18px;
                    height: 18px;
                    line-height: .5;
                    box-shadow: 0 0 2px 0px $red, inset 0 0 2px 0px $red;
                    transform: scale(.875) translateZ(0);
                    transition: color .25s, opacity .25s;

                    &:hover,
                    &.active {
                        color: $red;
                        opacity: .5;
                    }

                }

            }

        }

    }

}

#map {

    height: 600px;

}
