/*
*   Defines variables to override the default Bulma variables.
*/

$red: #d83a3a;
$black: #000;
$light-black: #333;
$medium-grey: #888;
$medium-light-grey: #ccc;
$light-grey: #efefef;
$light-blue: #8ad;
$white: #fff;

$primary: $red;
